@model List<TrelloTest.Models.Trello.TrelloTuple>
@{
    ViewBag.Title = "Boards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Boards</h2>

<div class="label-info">
    <p>Select a board.</p>
</div>

@{
    var items = Model?
            .Select(x => new SelectListItem() { Text = x.Label, Value = x.Id })
            .ToList();

    if (items == null)
    {
        <div class="has-error">
            <p class="alert">Something went wrong, please contact an actual web-dev to fix.</p>
        </div>
    }

    else

    {

        using (Html.BeginForm("board", "cards"))
        {
            @Html.DropDownList("boardId", items)

            <input type="submit" />
        }
    }
}
