@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Update Trello without using Trello!</h1>
    <h3>(Well...   You do have to log into Trello, but that's it.  Promise.)</h3>
</div>

